<div *ngFor="let checkItems of checkItems" class='checkItems'>
  <input type='checkbox' (click)=checkItemCompleted(checkItems)><span [ngClass]="(checkItems.state=='complete')?'checkItemComplete':'checkItemNotComplete'">{{checkItems.name}}</span>
  </div>
  <button class='addChecklist'  (click)='checkItem()'>add an item</button>
   <div [ngClass]="displayAdd?'displayAdd':'displayAddNone'">
    <input placeholder="addChecklist"><button (click)='checkItemAdd($event)'>add</button><button (click)='checkItem()'>×</button>
  </div>
